<section class="py-5">

  <form (ngSubmit)="onSubmit()">
    <div class="col-md-5 offset-md-3 border p-4 rounded">
      <h4 class="text-center">Login</h4>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>

  </form>

</section>
